Repository FppEpitech/Survivor, pull requests merged in 2024-09, with the labels that each got.

#4 feat: chocolatine project
  .github/workflows/mirror.yml
Labels: enhancement

#5 feat/angular architecture init
  angular-frontend/.editorconfig
  angular-frontend/.gitignore
  angular-frontend/README.md
  angular-frontend/angular.json
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.component.html
  angular-frontend/src/app/app.component.scss
  angular-frontend/src/app/app.component.spec.ts
  angular-frontend/src/app/app.component.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/assets/.gitkeep
  angular-frontend/src/favicon.ico
  angular-frontend/src/index.html
  angular-frontend/src/main.ts
  angular-frontend/src/styles.scss
  angular-frontend/tsconfig.app.json
  angular-frontend/tsconfig.json
  angular-frontend/tsconfig.spec.json
Labels: enhancement

#7 feat: express-backend/ folder with backend initialized
  express-backend/.gitignore
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/tsconfig.json
Labels: enhancement

#12 feat: navbar html and scss
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
  angular-frontend/src/app/navbar/navbar.component.spec.ts
  angular-frontend/src/app/navbar/navbar.component.ts
Labels: enhancement

#11 Create the client profile page
  angular-frontend/package-lock.json
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/client-profile/client-profile.component.html
  angular-frontend/src/app/client-profile/client-profile.component.scss
  angular-frontend/src/app/client-profile/client-profile.component.spec.ts
  angular-frontend/src/app/client-profile/client-profile.component.ts
Labels: enhancement

#18 Handle routing task
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
Labels: enhancement, front-end

#17 Init prisma and dotenv
  express-backend/.gitignore
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20240903092311_add_models/migration.sql
  express-backend/prisma/migrations/migration_lock.toml
  express-backend/prisma/schema.prisma
Labels: enhancement, back-end

#22 feat: add endpoint for tips page
  express-backend/index.ts
  express-backend/routes/tips.ts
Labels: enhancement, back-end

#25 feat: add endpoint for customer
  express-backend/index.ts
  express-backend/prisma/migrations/20240903125317_add_models/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
  express-backend/routes/tips.ts
Labels: enhancement, back-end

#24 Feat/create the statisitcs page
  angular-frontend/angular.json
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.component.html
  angular-frontend/src/app/statistics-page/component/charts/charts/charts.component.spec.ts
  angular-frontend/src/app/statistics-page/component/charts/charts/charts.component.ts
  angular-frontend/src/app/statistics-page/component/coachs/coachs.component.html
  angular-frontend/src/app/statistics-page/component/coachs/coachs.component.scss
  angular-frontend/src/app/statistics-page/component/coachs/coachs.component.spec.ts
  angular-frontend/src/app/statistics-page/component/coachs/coachs.component.ts
  angular-frontend/src/app/statistics-page/statistics-page.component.html
  angular-frontend/src/app/statistics-page/statistics-page.component.scss
  angular-frontend/src/app/statistics-page/statistics-page.component.spec.ts
  angular-frontend/src/app/statistics-page/statistics-page.component.ts
Labels: enhancement, front-end

#27 feat: add routes about employees
  express-backend/index.ts
  express-backend/prisma/migrations/20240903140705_modified_default_value/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
  express-backend/routes/employees.ts
Labels: enhancement, back-end

#38 feat: add endpoint for events
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20240903201749_delete_default_value/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
  express-backend/routes/employees.ts
  express-backend/routes/events.ts
Labels: enhancement, back-end

#39 feat: add endpoint for encounters
  express-backend/index.ts
  express-backend/routes/encounters.ts
Labels: enhancement, back-end

#36 feat: display customers information based on the API
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
Labels: enhancement, front-end

#33 Login backend with userloggedin & ismanager middleware
  express-backend/.gitignore
  express-backend/assets/.gitkeep
  express-backend/index.ts
  express-backend/legacy/accountsLegacy.ts
  express-backend/middlewares/isLoggedIn.ts
  express-backend/middlewares/isManager.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20240903123919_make_mails_unique/migration.sql
  express-backend/prisma/migrations/20240903213403_image_url_employee/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/prismaClient.ts
  express-backend/routes/employees.ts
  express-backend/routes/login.ts
  express-backend/routes/tips.ts
Labels: enhancement, back-end

#43 feat: all pages initialized ready for dev
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.scss
  angular-frontend/src/app/pages/coaches/coaches.component.spec.ts
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/pages/events/events.component.scss
  angular-frontend/src/app/pages/events/events.component.spec.ts
  angular-frontend/src/app/pages/events/events.component.ts
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/home/home.component.scss
  angular-frontend/src/app/pages/home/home.component.spec.ts
  angular-frontend/src/app/pages/home/home.component.ts
  angular-frontend/src/app/pages/statistics/component/charts/charts/charts.component.spec.ts
  angular-frontend/src/app/pages/statistics/component/charts/charts/charts.component.ts
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.html
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.scss
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.spec.ts
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.ts
  angular-frontend/src/app/pages/statistics/statistics-page.component.html
  angular-frontend/src/app/pages/statistics/statistics-page.component.scss
  angular-frontend/src/app/pages/statistics/statistics-page.component.spec.ts
  angular-frontend/src/app/pages/statistics/statistics-page.component.ts
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/tips/tips.component.scss
  angular-frontend/src/app/pages/tips/tips.component.spec.ts
  angular-frontend/src/app/pages/tips/tips.component.ts
Labels: enhancement, front-end

#44 feat: add wardrobe draft
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.component.html
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/statistics/statistics-page.component.ts
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.scss
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.spec.ts
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
Labels: enhancement, front-end

#41 feat: navbar
  angular-frontend/src/app/app.component.html
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
Labels: enhancement, front-end

#54 feat: new navbar using bulma & responsive
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
  angular-frontend/src/app/navbar/navbar.component.ts
Labels: enhancement, front-end

#51 feat: add a static home page (dashboard)
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/home/component/charts/charts.component.spec.ts
  angular-frontend/src/app/pages/home/component/charts/charts.component.ts
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/home/home.component.scss
  angular-frontend/src/app/pages/home/home.component.ts
Labels: enhancement, front-end

#56 Feat/create tips page
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/tips/tips.component.scss
  angular-frontend/src/app/pages/tips/tips.component.ts
Labels: enhancement, front-end

#57 Create clothe endpoint
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/prisma/fetchData/fetchTips.ts
  express-backend/routes/clothes.ts
  express-backend/routes/events.ts
  express-backend/routes/login.ts
Labels: enhancement, back-end

#64 link clients to employees
  express-backend/prisma/migrations/20240904135525_coach_for_customer/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
  express-backend/routes/employees.ts
Labels: enhancement, back-end

#60 fix: added the guards in statistics and wardrobe page
  angular-frontend/src/app/app-routing.module.ts
Labels: bug, front-end

#50 feat: link the name of the coachs
  angular-frontend/src/app/pages/statistics/component/charts/charts/charts.component.ts
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.html
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.scss
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.spec.ts
  angular-frontend/src/app/pages/statistics/component/coachs/coachs.component.ts
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.ts
Labels: enhancement, front-end

#66 Link navbar buttons with pages
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
Labels: enhancement, front-end

#70 feat: added last_login to db and api
  express-backend/prisma/migrations/20240904160503_/migration.sql
  express-backend/prisma/migrations/20240904160756_last_login/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/login.ts
Labels: enhancement, back-end

#69 feat: add clothe for each customer and scypt to fetch data
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/fetchData/fetchTips.ts
  express-backend/prisma/migrations/20240904145800_add/migration.sql
  express-backend/prisma/migrations/20240904152626_add/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#71 Create endpoint astrological compatibility
  express-backend/index.ts
  express-backend/routes/compatibility.ts
Labels: enhancement, back-end

#72 Create the coach page
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.scss
Labels: enhancement, front-end

#76 Link the coaches page with database
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/app/service/employees/employees.service.ts
Labels: enhancement, front-end

#75 feature paymenthistory router + secure all routes with middleware isloggedin
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20240904213400_customer_id_paymenthistory/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/paymentHistory.ts
Labels: enhancement, back-end

#81 Feature /employees/me
  express-backend/routes/employees.ts
Labels: enhancement, back-end

#82 feat: fetch employees data
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchEmployees.ts
  express-backend/routes/compatibility.ts
  express-backend/routes/employees.ts
Labels: enhancement, back-end

#86 Link astrological compatibility page with database
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.scss
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.ts
  angular-frontend/src/app/service/compatibility/compatibility.service.spec.ts
  angular-frontend/src/app/service/compatibility/compatibility.service.ts
  angular-frontend/src/app/service/employees/employees.service.ts
Labels: enhancement, front-end

#89 feat: add image_url of customer
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/migrations/20240905111430_add_image_url_customer/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#93 Fetch encounter data
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/fetchData/fetchEncounters.ts
  express-backend/prisma/migrations/20240905125834_make_image_url_nullable/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/encounters.ts
Labels: enhancement, back-end

#91 Feat/link the wardrobe with the database
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  angular-frontend/src/app/pipes/secure.pipe.spec.ts
  angular-frontend/src/app/pipes/secure.pipe.ts
  angular-frontend/src/app/service/clothes/clothes.service.spec.ts
  angular-frontend/src/app/service/clothes/clothes.service.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/app/service/employees/employees.service.ts
  angular-frontend/src/assets/placeholder-128.png
Labels: enhancement, front-end

#96 Feat/display images in astrological page
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
Labels: enhancement, front-end

#101 Link customer page with database
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.scss
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/service/employees/employees.service.ts
  angular-frontend/src/app/service/encounters/encounters.service.spec.ts
  angular-frontend/src/app/service/encounters/encounters.service.ts
  angular-frontend/src/app/service/paymentHistory/payment-history.service.spec.ts
  angular-frontend/src/app/service/paymentHistory/payment-history.service.ts
Labels: enhancement, front-end

#103 feat: add backup image in wardrobe page
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
Labels: bug, front-end

#99 fix: login works with already existing user & empty pwd
  express-backend/routes/login.ts
Labels: bug, back-end

#104 make repository cleaner more prod friendly
  express-backend/.gitignore
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/fetchData/fetchEmployees.ts
  express-backend/prisma/fetchData/fetchEncounters.ts
  express-backend/prisma/fetchData/fetchTips.ts
  express-backend/tsconfig.json
  package-lock.json
  package.json
Labels: enhancement, back-end

#107 feat: ngx-charts implemented
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/home/component/charts/charts.component.spec.ts
  angular-frontend/src/app/pages/home/component/charts/charts.component.ts
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/home/home.component.ts
  angular-frontend/src/app/pages/statistics/component/charts/charts/charts.component.spec.ts
  angular-frontend/src/app/pages/statistics/component/charts/charts/charts.component.ts
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.ts
Labels: front-end

#109 feat: add payment to customer
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/fetchData/fetchPaymentHistory.ts
  express-backend/prisma/migrations/20240905201505_add_payment_history/migration.sql
  express-backend/prisma/migrations/20240905204743_add_payment_history_amout_float/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#112 Work on all pages : handle loading data + fix astro pictures
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.scss
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  express-backend/package.json
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchEncounters.ts
  package-lock.json
  package.json
Labels: enhancement, front-end

#113 fix: responsive for mobile format in wardrobe page
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
Labels: bug, front-end

#110 Feat/create event page
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/pages/events/events.component.ts
  angular-frontend/src/app/service/events/events.service.spec.ts
  angular-frontend/src/app/service/events/events.service.ts
  angular-frontend/src/index.html
Labels: enhancement, front-end

#115 feat: upgrade the responsive of statistics in mobile format
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.scss
Labels: bug, enhancement, front-end

#118 fix: responsive format of login page
  angular-frontend/src/app/pages/login/login.component.html
  angular-frontend/src/app/pages/login/login.component.scss
Labels: enhancement, front-end

#127 Feat/implement creation of employee
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/pages/register-employee/register-employee.component.html
  angular-frontend/src/app/pages/register-employee/register-employee.component.scss
  angular-frontend/src/app/pages/register-employee/register-employee.component.spec.ts
  angular-frontend/src/app/pages/register-employee/register-employee.component.ts
  angular-frontend/src/app/service/employees/employees.service.ts
Labels: enhancement, front-end

#122 Feat/get data for statistics and display them
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.scss
  angular-frontend/src/app/pages/statistics/statistics.component.ts
  angular-frontend/src/app/service/encounters/encounters.service.ts
  angular-frontend/src/app/service/paymentHistory/payment-history.service.ts
  angular-frontend/src/assets/.gitkeep
Labels: enhancement, front-end

#129 Feat/manager guard implementation
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/guards/manager.guard.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.ts
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/service/auth/auth.service.ts
Labels: enhancement, front-end

#135 Store images in db
  express-backend/assets/.gitkeep
  express-backend/index.ts
  express-backend/legacy/accountsLegacy.ts
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/fetchData/fetchEmployees.ts
  express-backend/prisma/migrations/20240909091835_postgres_bytea_imge_saves/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/assets.ts
Labels: enhancement, back-end

#138 Fix/code duplication for services calls
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.scss
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/pages/events/events.component.scss
  angular-frontend/src/app/pages/events/events.component.ts
  angular-frontend/src/app/pages/register-employee/register-employee.component.ts
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.scss
  angular-frontend/src/app/pages/statistics/statistics.component.ts
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  angular-frontend/src/app/service/auth/auth.service.ts
  angular-frontend/src/app/service/compatibility/compatibility.service.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/app/service/employees/employees.service.ts
  angular-frontend/src/app/service/encounters/encounters.service.ts
  angular-frontend/src/app/service/paymentHistory/payment-history.service.ts
Labels: enhancement, invalid, front-end

#144 feat: Manager and Coaches didn't see the same infos on statistics page
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.ts
Labels: enhancement, front-end

#146 Fix/permissions to see payment history in customer page
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.scss
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
Labels: enhancement, front-end

#147 Create middleware for auth
  express-backend/middlewares/isLoggedIn.ts
  express-backend/middlewares/isManager.ts
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/routes/customers.ts
  express-backend/routes/employees.ts
  express-backend/routes/encounters.ts
  express-backend/routes/events.ts
  express-backend/routes/paymentHistory.ts
Labels: enhancement, back-end

#143 clarify docker system
  .gitignore
  db-data/.gitkeep
  db/compose.yml
  docker-compose.yml
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/routes/login.ts
  express-backend/tsconfig.json
Labels: enhancement

#150 fix: fetch of clothes
  express-backend/prisma/fetchData/fetchClothes.ts
  express-backend/routes/clothes.ts
Labels: bug, back-end

#154 feat(login page): add a pop up in case of wrong login or password
  angular-frontend/src/app/pages/login/login.component.html
  angular-frontend/src/app/pages/login/login.component.ts
Labels: enhancement, front-end

#157 fix(wardrobe page): request of customers
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  angular-frontend/src/app/service/auth/auth.service.ts
Labels: bug, front-end

#165 feat: add delete employee
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.html
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.scss
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.spec.ts
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.ts
Labels: enhancement, front-end

#167 Feature transloco multi language
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app.component.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
  angular-frontend/src/app/navbar/navbar.component.ts
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/home/home.component.ts
  angular-frontend/src/app/pages/login/login.component.html
  angular-frontend/src/app/pages/login/login.component.ts
  angular-frontend/src/app/pages/register-employee/register-employee.component.html
  angular-frontend/src/app/pages/register-employee/register-employee.component.ts
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.ts
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  angular-frontend/src/app/service/auth/auth.service.ts
  angular-frontend/src/app/transloco-root.module.ts
  angular-frontend/src/assets/i18n/en.json
  angular-frontend/src/assets/i18n/es.json
  angular-frontend/src/assets/i18n/fr.json
  angular-frontend/src/assets/i18n/zh.json
  angular-frontend/transloco.config.js
Labels: enhancement, front-end

#173 feat: boostrap
  angular-frontend/angular.json
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app.module.ts
Labels: enhancement, front-end

#174 Add system of cron and optimise fetch of clothe
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchClothes.ts
Labels: enhancement, back-end

#175 refactor: navbar using Bootstrap
  angular-frontend/src/app/app.component.html
  angular-frontend/src/app/app.component.scss
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.scss
  angular-frontend/src/app/navbar/navbar.component.ts
Labels: front-end, IMPORTANT

#170 Bugfix/routing page
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/bad-request/bad-request.component.html
  angular-frontend/src/app/pages/bad-request/bad-request.component.scss
  angular-frontend/src/app/pages/bad-request/bad-request.component.spec.ts
  angular-frontend/src/app/pages/bad-request/bad-request.component.ts
Labels: enhancement, front-end

#181 Add route to get customer clothe by id
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#182 Refactor for new mockup tips
  angular-frontend/src/app/pages/tips/tips.component.html
  angular-frontend/src/app/pages/tips/tips.component.scss
  angular-frontend/src/assets/i18n/en.json
  angular-frontend/src/assets/i18n/es.json
  angular-frontend/src/assets/i18n/fr.json
  angular-frontend/src/assets/i18n/zh.json
  express-backend/package-lock.json
  express-backend/package.json
Labels: enhancement, front-end

#178 feat: translate new nav transloco
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.ts
  angular-frontend/src/assets/i18n/en.json
Labels: enhancement, front-end

#184 feat: add coach favorite to schema customer
  express-backend/prisma/migrations/20240911122633_add_coach_favorite/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#186 feat: add nomber of customer in employees
  express-backend/routes/employees.ts
Labels: enhancement, back-end

#188 feat: add 2 routes for payment
  express-backend/routes/customers.ts
  express-backend/routes/paymentHistory.ts
Labels: enhancement, back-end

#194 Refactor/coaches page bootstrap
  angular-frontend/package-lock.json
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.scss
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/index.html
Labels: front-end, IMPORTANT

#190 Refactor/customers details page
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.scss
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/assets/cb-card.jpg
  angular-frontend/src/assets/paypal-card.jpg
  angular-frontend/src/assets/wire-transfer.jpg
Labels: enhancement, front-end

#196 Refactor/customers page with bootstrap
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/client-profile/client-profile.component.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/customers-list/customers-list.component.html
  angular-frontend/src/app/pages/customers-list/customers-list.component.scss
  angular-frontend/src/app/pages/customers-list/customers-list.component.spec.ts
  angular-frontend/src/app/pages/customers-list/customers-list.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
Labels: front-end, IMPORTANT

#192 Feature new event page
  angular-frontend/package-lock.json
  angular-frontend/package.json
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/navbar/navbar.component.scss
  angular-frontend/src/app/pages/add-event/add-event/add-event.component.html
  angular-frontend/src/app/pages/add-event/add-event/add-event.component.scss
  angular-frontend/src/app/pages/add-event/add-event/add-event.component.spec.ts
  angular-frontend/src/app/pages/add-event/add-event/add-event.component.ts
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.html
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.scss
  angular-frontend/src/app/pages/delete-employee/delete-employee.component.ts
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/pages/events/events.component.scss
  angular-frontend/src/app/pages/events/events.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
  angular-frontend/src/app/service/events/events.service.ts
  angular-frontend/src/assets/i18n/en.json
  angular-frontend/src/assets/i18n/es.json
  angular-frontend/src/assets/i18n/fr.json
  angular-frontend/src/assets/i18n/zh.json
  angular-frontend/src/index.html
  angular-frontend/src/styles.scss
Labels: enhancement, front-end

#203 feat: add last payment method in list of customer
  express-backend/routes/customers.ts
Labels: enhancement, back-end

#198 Refactor/the login page with bootstrap
  angular-frontend/src/app/pages/login/login.component.html
  angular-frontend/src/app/pages/login/login.component.ts
  angular-frontend/src/app/service/auth/auth.service.ts
Labels: front-end, IMPORTANT

#206 Refactor/wardrobe page
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.scss
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
Labels: enhancement, front-end

#209 feat: add route to get data for dashboard
  express-backend/index.ts
  express-backend/routes/dashboard.ts
Labels: enhancement, back-end

#200 Feat/create customer creation page
  angular-frontend/src/app/app-routing.module.ts
  angular-frontend/src/app/app.module.ts
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/customers-list/customers-list.component.html
  angular-frontend/src/app/pages/customers-list/customers-list.component.ts
  angular-frontend/src/app/pages/register-customer/register-customer.component.html
  angular-frontend/src/app/pages/register-customer/register-customer.component.scss
  angular-frontend/src/app/pages/register-customer/register-customer.component.spec.ts
  angular-frontend/src/app/pages/register-customer/register-customer.component.ts
  angular-frontend/src/app/service/customers/customers.service.ts
Labels: front-end, IMPORTANT

#210 Refactor/astrological compatibilty page
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.html
  angular-frontend/src/app/pages/astrological-compatibility/astrological-compatibility.component.scss
  angular-frontend/src/app/pages/wardrobe/wardrobe.component.html
  express-backend/routes/themes.ts
Labels: enhancement, back-end

#212 feat: add route to get data for dashboard
  express-backend/routes/dashboard.ts
Labels: enhancement, back-end

#216 feat: add route to get event at each day
  express-backend/routes/dashboard.ts
Labels: enhancement, back-end

#219 feat: add in db the adress and phone number for customer
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/fetchData/fetchAndStoreData.ts
  express-backend/prisma/fetchData/fetchCustomers.ts
  express-backend/prisma/migrations/20240912134528_add_phone_number_and_address_to_customer/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/customers.ts
  express-backend/routes/dashboard.ts
  express-backend/routes/themes.ts
Labels: enhancement, back-end

#214 Feature theme dashboard
  angular-frontend/src/app/navbar/navbar.component.html
  angular-frontend/src/app/navbar/navbar.component.ts
  angular-frontend/src/app/pages/events/events.component.html
  angular-frontend/src/app/service/theme/theme.service.spec.ts
  angular-frontend/src/app/service/theme/theme.service.ts
  angular-frontend/src/styles.scss
Labels: enhancement, front-end

#220 Refactor/dashboard using bootstrap
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/home/home.component.ts
  angular-frontend/src/app/service/dashboard/dashboard.service.spec.ts
  angular-frontend/src/app/service/dashboard/dashboard.service.ts
Labels: front-end, IMPORTANT

#217 Refactor/satistics page using bootstrap
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.scss
  angular-frontend/src/app/pages/statistics/statistics.component.ts
  angular-frontend/src/app/service/employees/employees.service.ts
  express-backend/routes/employees.ts
Labels: enhancement, front-end, IMPORTANT

#222 205 re translate website
  angular-frontend/src/app/pages/client-profile/client-profile.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.html
  angular-frontend/src/app/pages/coaches/coaches.component.ts
  angular-frontend/src/app/pages/customers-list/customers-list.component.html
  angular-frontend/src/app/pages/customers-list/customers-list.component.ts
  angular-frontend/src/app/pages/home/home.component.html
  angular-frontend/src/app/pages/register-customer/register-customer.component.html
  angular-frontend/src/app/pages/statistics/statistics.component.html
  angular-frontend/src/app/service/auth/auth.service.ts
  angular-frontend/src/assets/i18n/en.json
  angular-frontend/src/assets/i18n/es.json
  angular-frontend/src/assets/i18n/fr.json
  angular-frontend/src/assets/i18n/zh.json
Labels: enhancement, front-end

#225 fix: guard manager nav
  angular-frontend/src/app/navbar/navbar.component.html
Labels: bug
